@page "/"

<h3>The Brick Vault</h3>
<h5>Jena White's Capstone Project</h5>
<h5>Code:You, August 2024 Cohort</h5>

<img src="images/Thebrickvaultlogo.png" alt="image of a chest full of colorful bricks" style="width: 200px; height: auto; place-content: left"/>
