@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory HttpClientFactory

<h3>The Brick Vault</h3>
@code {
    private string RebrickableClient;

    protected override async Task OnInitializedAsync()
    {
        var client = HttpClientFactory.CreateClient("Rebrickable");
        RebrickableClient = await client.GetStringAsync("api/v3/lego/sets/75290-1");
       

}
}